<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $.get("ajax_get",function(data,status){
            alert("数据: " + data + "\n状态: " + status);
            console.log(data)
            document.getElementById("dv").textContent = data

        });
    });
});
</script>
</head>
<body>

<button>发送一个 HTTP GET 请求并获取返回结果</button>


<div id="dv">这是一个div</div>


</body>
</html>